<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Seat</title>
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="movie-details.html" class="back-button"><i class="material-icons">arrow_back</i></a>
                <h1>Choose Seat</h1>
                <i class="material-icons">more_vert</i>
            </div>
        </nav>
    </header>

    <main id="seat-selection">
        <div id="proyecciones-container"></div>
        

    
        <div id="seat-map"></div>

        <div class="seat-legend">
            <div class="legend-item"><div class="legend-color available"></div> Available</div>
            <div class="legend-item"><div class="legend-color reserved"></div> Reserved</div>
            <div class="legend-item"><div class="legend-color vip"></div> Vip</div>
            <div class="legend-item"><div class="legend-color selected"></div> Selected</div>
        </div>
        
        <div class="scroll-container">
            <div id="date-selection"></div>
        </div>
        <div class="scroll-container">
            <div id="time-selection"></div>
        </div>
    
        <div class="purchase-info">
            <div class="price">
                <h1>Price</h1>
                <span id="price"></span>
            </div>
            <button id="buy-ticket">Buy ticket</button>
        </div>
    </main>
    <script src="../js/choose-seat.js"></script>
</body>
</html>

