<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Seat</title>
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="movie-details.html" class="back-button"><i class="material-icons">arrow_back</i></a>
                <h1>Choose Seat</h1>
                <i class="material-icons">more_vert</i>
            </div>
        </nav>
    </header>

    <main id="seat-selection">
        <div id="proyecciones-container"></div>
    
        <div class="screen-indicator">
            <span>Screen This Way</span>
        </div>
    
        <div id="seat-map"></div>
    
        <div id="date-selection"></div>
        <div id="time-selection"></div>
    
        <div class="purchase-info">
            <span id="price">$24.99</span>
            <button id="buy-ticket">Buy ticket</button>
        </div>
    </main>
    <script src="../js/choose-seat.js"></script>
</body>
</html>
