<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirmation</title>
  <link rel="stylesheet" href="../css/confirmation.css">
  <script defer src="../js/confirmation.js"></script>
</head>
<body>
  <div class="container">
      <div class="ticket">
          <div class="ticket-info">
              <!-- Imagen de la película -->
              <img id="movie-image" src="" alt="" class="movie-image">

              <!-- Título de la película y texto de entrada -->
              <h1 id="movie-title"></h1>
              <p>Show this ticket at the entrance</p>

              <!-- Información del cine -->
              <h3>Cinema :</h3>
              <div class="Cinema">
                <p>CineCampus</p>
                <img src="../storage/img/Campus.png" alt="CineCampus">
              </div>

              <!-- Detalles del ticket -->
              <div class="ticket-details">
                  <div class="ticket-row">
                      <span>Date</span>
                      <span id="date"></span>
                  </div>
                  <div class="ticket-row">
                      <span>Time</span>
                      <span id="time"></span>
                  </div>
                  <div class="ticket-row">
                      <span>Seat</span>
                      <span id="seat"></span>
                  </div>
                  <div class="ticket-row">
                      <span>Cost</span>
                      <span id="cost"></span>
                  </div>
                  <div class="ticket-row">
                      <span>Order ID</span>
                      <span id="order-number"></span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</body>
</html>
