<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirmation</title>
  <link rel="stylesheet" href="../css/confirmation.css">
  <script defer src="../js/confirmation.js"></script>
</head>
<body>
  <div class="container">
      <div class="ticket">
          <img src="" alt="" class="ticket-bg">
          <div class="ticket-info">
              <h1>Puss In Boots The Last Wish</h1>
              <h3>Cinema:</h3>
              <div class="Cinema">
                <p>CineCampus</p>
                <img src="../storage/img/Campus.png" alt="">
              </div>
              <p>Seat: <span id="seat"></span></p>
              <p>Date: Sun, Feb 12th 2023, 13:00</p>
              <p>Order Number: <span id="order-number"></span></p>
          </div>
      </div>
  </div>
</body>
</html>
