<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Details</title>
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="../index.html" class="back-button"><i class="material-icons">arrow_back</i></a>
                <h1>Cinema Selection</h1>
                <i class="material-icons">more_vert</i>
            </div>
        </nav>
    </header>

    <main id="movie-details">
        <!-- Los detalles de la película se cargarán aquí dinámicamente -->
    </main>

    <script src="../js/movie-details.js"></script>
</body>
</html>