<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Order Summary</title>
  <link rel="stylesheet" href="../css/order-summary.css">
  <script defer src="../js/order-summary.js"></script>
</head>
<body>
  <div class="container">
      <div class="order-summary">
          <div class="header">
              <h1>Order Summary</h1>
          </div>
          <div class="movie-details">
              <img src="" alt="">
              <div class="movie-info">
                  <h2>Puss In Boots The Last Wish</h2>
                  <p>Adventure</p>
                  <p>HARTONO MALL</p>
                  <p>Sun, 12 Feb 2023, 13:00</p>
              </div>
          </div>
          <div class="order-details">
              <p><span>ORDER NUMBER :</span> <span>123456786</span></p>
              <p><span>1 TICKET</span> <span>C5</span></p>
              <p><span>REGULAR SEAT</span> <span>$24,99 x 3</span></p>
              <p><span>SERVICE FEE</span> <span>$1,99 x 1</span></p>
          </div>
          <div class="payment-method">
              <h3>Payment method</h3>
              <div class="card-details">
                  <img src="../storage/img/paypal.png" alt="PayPal">
                  <p>PayPal</p>
                  <p>**** **** 0998 7865</p>
              </div>
              <div class="payment-timer">
                  <p>Complete your payment in</p>
                  <p class="timer">04:59</p>
              </div>
          </div>
          <button class="buy-ticket-button">Buy ticket</button>
      </div>
  </div>
</body>
</html>
